@font-face{
    font-family: 'Title';
    src: url('~assets/fonts/kalameh/_Woff/KalamehWeb-Bold.woff');
}
@font-face{
    font-family: 'Text';
    src: url('~assets/fonts/kalameh/_Woff/KalamehWeb-Regular.woff');
}
