// Variable
$padding: 0 40px;

// Body
body{
    font-family: 'Text';
    padding: 0;
    margin: 0;
}
h1{
    font-family: 'Title';
}
a{
    text-decoration: none;
    color:#000;
}
.padding{
    padding: 80px 20px;
    
    @media screen and (min-width: $tablet) {
        padding: $padding;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.separator{
    margin: 40px auto;
    height: 1px;
    background-color: #000;
    width: 80%;
    opacity: 0.2;
    @media screen and (min-width: $laptop){
        margin: 100px auto;
    }
}